@using System.Globalization
@model WebApplication35.Models.PatientApplicationViewModel

<h2>Patient Admission</h2>

@using (Html.BeginForm("AddPatient", "Home", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="row">
        <div class="col-sm-2">
            <label for="PATIENTID">Patient ID:</label>
            <input type="text" class="form-control" id="PATIENTID" name="PATIENTID" value="@ViewBag.RandomPatientID" readonly>
        </div>

        <div class="col-sm-2">
            <label for="APPID">App ID:</label>
            <input type="text" class="form-control" id="APPID" name="APPID" value="@ViewBag.RandomApplicationID" readonly>
        </div>

        <div class="col-sm-2">
            <label for="UNITID">Unit ID:</label>
            <input type="text" class="form-control" id="UNITID" name="UNITID" value="@ViewBag.RandomUnitID" readonly>
        </div>

        <div class="col-sm-2">
            <label for="STAFFID">Staff ID:</label>
            <input type="text" class="form-control" id="STAFFID" name="STAFFID" value="@ViewBag.RandomStaffID" readonly>
        </div>

        <div class="col-sm-2">
            <label for="PATIENTNUMBER">Patient Number:</label>
            <input type="text" class="form-control" id="PATIENTNUMBER" name="PATIENTNUMBER" value="@ViewBag.RandomPatientID" readonly>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <label for="PATIENTFNAME">First Name:</label>
            <input type="text" class="form-control" id="PATIENTFNAME" name="PATIENTFNAME" value="@Model.NewPatient.PATIENTFNAME" required>
        </div>

        <div class="col-sm-2">
            <label for="PATIENTLNAME">Last Name:</label>
            <input type="text" class="form-control" id="PATIENTLNAME" name="PATIENTLNAME" value="@Model.NewPatient.PATIENTLNAME" required>
        </div>

        <div class="col-sm-2">
            <label for="PATIENTPHONE">Phone Number:</label>
            <input type="text" class="form-control" id="PATIENTPHONE" name="PATIENTPHONE" value="@Model.NewPatient.PATIENTPHONE">
        </div>

        <div class="col-sm-2">
            <label for="PATIENTADDRESS">Address:</label>
            <input type="text" class="form-control" id="PATIENTADDRESS" name="PATIENTADDRESS" value="@Model.NewPatient.PATIENTADDRESS">
        </div>

        <div class="col-sm-2">
            <label for="PATIENTDATEOFBIRTH">Date of Birth:</label>
            <input type="date" class="form-control" id="PATIENTDATEOFBIRTH" name="PATIENTDATEOFBIRTH" value="@Model.NewPatient.PATIENTDATEOFBIRTH?.ToString("yyyy-MM-dd", CultureInfo.InvariantCulture)">
        </div>
    </div>

    <!-- Other form fields in a similar format -->

    <div class="row">
        <div class="col-sm-2">
            <label for="NewApplication_DIAGNOSIS_ID">Diagnosis ID:</label>
            <input type="text" class="form-control" id="NewApplication_DIAGNOSIS_ID" name="NewApplication.DIAGNOSIS_ID" value="@Model.NewApplication?.DIAGNOSIS_ID">
        </div>

        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Admit Patient</button>
        </div>
    </div>
}
