@model (WebApplication35.Models.Patient, WebApplication35.Models.Application)


@{
    ViewData["Title"] = "Applications";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.data != null && ViewBag.data.Count > 0)
{
    <p>Data from the "Applications" table:</p>
    <table>
        <thead>
            <tr>
                <th>APPID</th>
                <th>PATIENTID</th>
                <th>UNITID</th>
                <th>STAFFID</th>
                <th>RECORD_DATE</th>
                <th>DIAGNOSIS_ID</th>
                <th>DIAGNOSIS_DATE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.data)
            {
                <tr>
                    <td>@item.APPID</td>
                    <td>@item.PATIENTID</td>
                    <td>@item.UNITID</td>
                    <td>@item.STAFFID</td>
                    <td>@item.RECORD_DATE</td>
                    <td>@item.DIAGNOSIS_ID</td>
                    <td>@item.DIAGNOSIS_DATE</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
