@{
    ViewData["Title"] = "General Info";
}

<head>
    <link rel="stylesheet" href="~/css/PatientStyle.css" />
</head>

<h2>@ViewData["Title"]</h2>

@if (ViewBag.PatientsData != null && ViewBag.PatientsData.Count > 0)
{
    <h3>Patients data from the database:</h3>
    <table>
        <thead>
            <tr>
                <th>Patient ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Patient Number</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in ViewBag.PatientsData)
            {
                <tr>
                    <td>@patient.PATIENTID</td>
                    <td>@patient.PATIENTFNAME</td>
                    <td>@patient.PATIENTLNAME</td>
                    <td>@patient.PATIENTNUMBER</td>
                    <td>
                        <a asp-controller="Home" asp-action="EditPatient" asp-route-patientID="@patient.PATIENTID" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <form asp-controller="Home" asp-action="DeletePatient" asp-route-patientID="@patient.PATIENTID" method="post">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No patients data available.</p>
}

<!-- Add some space between the table and the button -->
<div class="add-patient-button-container">
    <a asp-controller="Home" asp-action="AddPatient" class="btn btn-primary">Add New Patient</a>
</div>