@model (WebApplication35.Models.Patient, WebApplication35.Models.Application)


@{
    ViewData["Title"] = "Patient";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.data != null && ViewBag.data.Count > 0)
{
    <p>Data from the "Patient" table:</p>
    <table>
        <thead>
            <tr>
                <th>PATIENTID</th>
                <th>PATIENTNUMBER</th>
                <th>PATIENTFNAME</th>
                <th>PATIENTLNAME</th>
                <th>PATIENTADDRESS</th>
                <th>PATIENTDATEOFBIRTH</th>
                <th>PATIENTPHONE</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.data)
            {
                <tr>
                    <td>@item.PATIENTID</td>
                    <td>@item.PATIENTNUMBER</td>
                    <td>@item.PATIENTFNAME</td>
                    <td>@item.PATIENTLNAME</td>
                    <td>@item.PATIENTADDRESS</td>
                    <td>@item.PATIENTDATEOFBIRTH</td>
                    <td>@item.PATIENTPHONE</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No data available.</p>
}
